* {
  transition: all 0.7s ease;
}

body {
  background: #cecece;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Barriecito", cursive;
  text-align: left;
}

h3 {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin-top: -20px;
}

.wrapper {
  border-radius: 5px;
  display: inline-block;
  background: #fff;
  position: relative;
  margin: 0 100px;
  width: 500px;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 10px 25px #999;
}

.pic {
  height: 350px;
  background-size: 400px;
  background-position: center;
  padding: 0 40px 40px 0;
  margin-bottom: 35px;
}

.wrapper:hover .pic,
.wrapper:focus .pic {
  transform: scale(1.2);
}

p.header {
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

p.content {
  padding: 0 20px;
  font-size: 12px;
  text-align: justify;
}
