.App {
  text-align: left;
  padding: 8px;
}

table{
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

button{
  border: none;
  transform: translate(165px);
}

.card{
  position: relative;
  display: inline-block;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
}